In [ ]:
#variable and print
a=5
print("Iam",a,"years old")

Iam 5 years old

In [ ]:
#variable and print
a="samhitha"
print(a,"is a good girl")

samhitha is a good girl

operators

In [ ]:
#Arthimetic
a=5
b=25
print(a+b)

30

In [ ]:
#power
print(2**5)

32

In [ ]:
#Floor division
print(25//4)

6

In [ ]:
#Relational
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
True
True
False

In [ ]:
#Logical
a=9
b=25
print((a>b) and (a<b)) #false and true

False

In [ ]:
print((a>b)or(a<b)) #false or true

True

In [ ]:
#Membership
a="pirate"
print("a" not in a)
print("a" in a)

False
True

Control flow

In [ ]:
#conditional-if
#write a program to get a number from the user and check whether it is positive or negative.
n=int(input("enter a number :"))
if(n>0):
  print(n,"is a positive number")
else:
  print(n,"is a negative number")

enter a number :22
22 is a positive number

In [ ]:
#c0nditional-elif
n=int(input("enter a number:"))
if(n>0):
  print(n,"is positive")
elif(n<0):
  print(n,"is negative")
else:
  print(n," is neither positive nor negative")

enter a number:0
0  is neither positive nor negative

In [ ]:
#loop-for
n=int(input("enter a number"))
for i in range(1,11,1):
   a=n*i
   print(a)

enter a number2
2
4
6
8
10
12
14
16
18
20

In [ ]:
#type casting:
#implicit
a=22.6 #float
b=3 #int
c=a+b
print(c)
#explicit
a=int(22.6)
d=a*b
print(d)

25.6
66

In [ ]:
a="45"
a=int(a) #save the changes
print(type(a))

<class 'int'>

Data slicing

In [ ]:
a="python is easy"
print(a[0:6]) #start:stop:step

python

In [ ]:
#reversing
print(a[::-1])

ysae si nohtyp

In [ ]:
a="python is easy"
print(a[::2])

pto ses

In [ ]:
#loop-while
n=int(input("enter a number:"))
i=1
while(i<=10):
  print(n*i)
  i=i+1

enter a number:3
3
6
9
12
15
18
21
24
27
30

collections:
List:
>List is a collection of elements
>heterogenous
>Mutable(modifiable)

In [ ]:
#list
a=["red","orange","pink",12,19.5]
print(a[3])
for i in a:
  print(i)

12
red
orange
pink
12
19.5

In [ ]:
a.append(5)
print(a)

['red', 'orange', 'pink', 12, 19.5, 5]

In [ ]:
a.insert(4,"hai")
print(a)

['red', 'orange', 'pink', 12, 'hai', 19.5, 5]

In [ ]:
b=["a","b","c","d","e"]
a.extend(b)
print(a)

['red', 'orange', 'pink', 12, 'hai', 19.5, 5, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [ ]:
a.pop(2)
print(a)

['red', 'orange', 12, 'hai', 19.5, 5, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [ ]:
a.remove(12)
print(a)

['red', 'orange', 'hai', 19.5, 5, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

#max and min values are work for numerical values

List comprehension!
* Iterators
* appiles some function on every element
*conditions
*output:list

In [ ]:
l1=[12,23,56,49,1]
l2=[i**2 for i in l1 if i>50] #output iterator condition
print(l2)
type(l2)

[144, 529, 2401, 1]

list

In [ ]:
# The salaries of 5 employees in a company is taken as a list.The tax is 10% if the salary is less than or equql to 50000
#or it is 15%
#create a new list with tax amounts
#[67000,45000,89000,34000,50000]
#list_name=[(body of if) (condition) else (body of else) iterator]
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#list_name=[(body of if) (condition) else (body of else) iterator]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]